// Font

$font-stack: 'Roboto', sans-serif;

// Font Weights

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;


// Font Mixin

@mixin font($weight) {
    font-family: $font-stack;
    font-weight: $weight;
}