.carousel {
    width: 100%;
    max-width: 1300px;
    background: $main;
    margin: auto;
    border-radius: 0;
    transform: translateY(0);
    color: $white;
    border-top: 2px solid $white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    @media(min-width: $min-width){
        width: 90%;
        background: $white;
        border-top: none;
        border-radius: 4px;
        transform: translateY(-15rem);
    } 
    
}

.call-out{
    img {
        max-width: 5rem;
    }
}

.features-slider {
    padding: 1em;
}

.sy-slides-crop {
    background: #032254;
    border-radius: 4px;
}

#features-slider {
    padding: 0;
    li {
        padding: 0;
        //height: 100%;
    }
}

.slide-content-wrapper {
    display: flex;
    text-align: center;
    &::before, &::after {
        display: none;
    }
    @media(min-width: $min-width){
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 40%;
            height: 100%;
            background-color: $main;
            background-size: cover;
            background-position: center;
        }
        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 40%;
            height: 100%;
            background: linear-gradient(to left, transparent, transparent 70%, $main 100%);
        }
    }
    &[data-name="slide1"] {
        &::before {
        background-image: url('../images/slider-images/tubes.jpg');
        }
    }
    &[data-name="slide2"] {
        &::before {
        background-image: url('../images/slider-images/smiling-face.jpg');
        }
    }
    &[data-name="slide3"] {
        &::before {
        background-image: url('../images/slider-images/glass-tubes.jpg');
        }
    }
    
}
.slide-content-wrapper.video {
    &::before, &::after {
        display: none;
    }
    .slide-col {
        max-width: 800px;
        margin-inline: auto;
        flex-basis: 100%;
    }
    
}
.slide-col {
    flex-basis: 100%;
    
    @media(min-width: $min-width){
        flex-basis: 60%;
    }
}
.slide-content {
    padding: 2rem;
    border-bottom: 2px solid $white;
    @media(min-width: $min-width){
        border-bottom: none;
    }
    p:first-of-type {
        padding-top: 1rem;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 1.3;
    }
    p {
        font-size: 1rem;
    }
    .call-out {
        padding-top: 2rem;
        p {
            max-width: 30ch;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 0;
            padding-top:0;
            font-size: 0.75rem;
        }
        .text-call-out {
            color: $white;
            background: $accent;
            display: inline;
            padding: 0.5rem 1rem;
            margin-bottom: 2rem;
        }
        &.call-out--lg {
            img {
                max-width: 10rem;
            }
        }
    }
    
}

.sy-pager {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    transform: translateY(-1rem);
    bottom: calc(100% - 61.88px);
    @media(min-width: $min-width){
        bottom: 0;
    }
}
.sy-pager li {
    width: 0.8rem;
    height: 0.8rem;
    a {
        width: 0.8rem;
        height: 0.8rem;
        background-color: rgba(255, 255, 255, .4);
    }
    &.sy-active {
        a {
            background-color: $secondary;
        }
    }
}

.sy-controls {
    display: block;
}

.sy-controls li.sy-prev {
    left: 1.5rem;
    top: 0;
    @media(min-width: $min-width){
        left: -4.5rem;
    }
}

.sy-controls li.sy-next {
    right: 1.5rem;
    top: 0;
    @media(min-width: $min-width){
        right: -4.5rem;
    }
}

.sy-controls li a:link, .sy-controls li a:visited {
    opacity: 1;
}
.sy-controls li a:after {
    background-color: $secondary;
    border: 2px solid $white;
}