// .equal-columns {
//     display: grid;
//     gap: 1rem;
//     @media(min-width: 50em){
//         grid-auto-flow: column;
//     }
// }

// .grid {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     flex-wrap: nowrap;
//     &.grid--full {
//         flex-direction: row;
//     }
//     @media(min-width: 50em){
//         flex-direction: row;

//     }
// }

.grid {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 100%;
    padding: 2em 0.75em;
    @media(min-width: $min-width){
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
    }
}

.col--full {
    flex: 0 0 100%;
}

@media(min-width: $min-width) {
    .col--1-3 {
        flex-basis: 33.3333%;
    }
    .col--2-3 {
        flex-basis: 66.6666%;
    }
    .col--1-2 {
        flex-basis: 50%;
    }
}