.promo {
    .bg-primary {
        text-align: left;
        padding-top: 7.5em;
        padding-bottom: 7.5em;
        padding-left: 7%;
    }
    .img-box {
        background: url('../img/phone-in-hand.jpeg');
        background-size: cover;
        background-position: center;
    }
}


