#roi {
    position: relative;
    background: $main;
    background-image: url('../images/saving-money-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: $white;
    padding: 2rem 0;
    z-index:1;
    &:before {
        position: absolute;
        z-index:-1;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background-color: $main;
        opacity: 0.9;
    }
    h1 {
        color: $accent;
    }
    .roi-header {
        border-bottom: 1px solid $white;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        max-width: 80%;
        span {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: $font-bold;
            vertical-align: middle;
            margin-bottom: 0;
            padding: 0;
            line-height: 1;
        }
        .svg {
            display: inline-block;
            vertical-align: middle;
            padding-right: 1rem;
            &.savings {
                max-width: 3.5rem;
            }
            &.calculator {
                max-width: 2.5rem;
            }
            
        }
    }
    
    
    p {
        max-width: 70%;
    }
    .roi-calculator, .outputs {
        p {
            position: relative;
            padding-bottom: 25px;
            margin: 0 auto;
            max-width: 100%;
            font-weight: $font-bold;
            &[data-name="estimated_savings_each_year"] {
                //max-width: 30ch;
                //margin-left: 0;
                padding-bottom: 0;
                span {
                    font-size: 3rem;
                    &.active {
                        transition: all 300ms cubic-bezier(0.755, 0.050, 0.855, 0.060);
                        opacity: 1;
                        bottom: -20px;
                        scale: 1;
                    }
                }
            }
            
            span {
                position: absolute;
                font-weight: $font-bold;
                padding-left: 2rem;
                font-size: 2rem;
                color: $accent;
                bottom: 100px;
                right: 0;
                opacity: 0;
                line-height: 1;
                
                transform-origin: center center;
                &.active {
                    transition: all 300ms cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    opacity: 1;
                    bottom: 25px;
                    scale: 1;
                }
            }
            @media(min-width: $min-width){
                //max-width: 58ch;
            }
        }
    }
    em {
        font-size: 0.75rem;
    }
    .testing {
        display: none;
        margin-top: 2.5rem;
        p {
            span {
                position: relative;
                opacity: 1;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                color: $light-blue;
                
            }
        }
    }
}