


.feedback-input {
	display: inline-block;
	vertical-align: middle;
	color:#3c3c3c;
    font-weight:500;
	font-size: 16px;
	border-radius: 4px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 3px 3px 3px 22px;
	margin-bottom: 10px;
	width: 100%;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid $light-blue;
	color: $light-blue;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

.feedback-input.range {
	padding: 0;
    border: 0;
	width: 80%;
	margin-bottom: 0;
}
.feedback-label {
	display: block;
	padding-bottom: 1rem;
	font-size: 1rem;
}

output {
	background: $light-blue;
	padding: 5px 16px;
	font-weight: 700;
	border-radius: 3px;
	color: #fff;
	min-width: 5rem;
  }

  .error-msg {
	scale: 0;
	opacity: 0;
	font-size: 0.8rem;
	color: #ff4500;
	transition: all 0.2s ease-in;
	&.active {
		scale: 1;
		opacity: 1;
	}
  }

  input[type="range"] {
	-webkit-appearance: none;
	margin-right: 15px;
	width: 200px;
	height: 7px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	background-image: linear-gradient($light-blue, $light-blue);
	background-repeat: no-repeat;
  }
  #sample_processing_labor_mins_per_sample {
	background-size: 1.5% 100%;
  }
  #total_staff_supporting_assay {
	background-size: 0% 100%;
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: $light-blue;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: $light-blue;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-ms-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: $light-blue;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
	background: $light-blue;
  }
  
  input[type="range"]::-moz-range-thumb:hover {
	background: $light-blue;
  }
  
  input[type="range"]::-ms-thumb:hover {
	background: $light-blue;
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
  }
  
  input[type=range]::-moz-range-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
  }
  
  input[type="range"]::-ms-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
  }

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid $light-blue;
	color: $light-blue;
	outline: none;
  padding: 13px 13px 13px 54px;
  &.range {
	border: 0;
	padding: 0;
  }
}

#roi {
	.feedback-input {
		display: inline-block;
		vertical-align: middle;
		color:#3c3c3c;
		font-weight:500;
		font-size: 18px;
		border-radius: 4px;
		line-height: 22px;
		background-color: #fbfbfb;
		padding: 13px 13px 13px 54px;
		margin-bottom: 10px;
		width: 100%;
		border: 3px solid rgba(0,0,0,0);
	}
	.feedback-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 3px solid $light-blue;
		color: $light-blue;
		outline: none;
	  padding: 13px 13px 13px 54px;
	  &.range {
		border: 0;
		padding: 0;
	  }
	}
}




textarea {
    width: 100%;
    //height: 150px;
    //line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

.btn-calculate {
	position: relative;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	border-radius: 4px;
	border: none;
	cursor:pointer;
	background-color: $light-blue;
	outline: none;
	color:white;
	font-size: 24px;
	padding: 1rem 3rem;
	transition:all 0.3s;
	font-weight: 700;
	&:hover{
		background-color: darken($light-blue, 10%);
	}
	
}


@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}