#overlay {
    position: fixed;
    opacity:0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 98;
    transition: 200ms ease-in-out;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 99;
    width: 500px;
    max-width: 80%;
    border-radius: 4px;
	background-color:rgb(255, 255, 255);
    padding: 2rem;
    .feedback-input {
        outline: 1px solid rgba(51, 152, 219, .4);
    }
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-modal {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.modal-btn {
    outline: none;
    border: none;
    background-color: $light-blue;
    color: $white;
    width: 100%;
    &:hover {
        background-color: darken($light-blue, 5%);
    }
}