h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.75rem;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: $font-bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.4;
}
.title-large {
    font-size: 1.5rem;
    font-weight: $font-black;
    text-transform: uppercase;
    line-height: 1.3;
    span {
        font-weight: $font-light;
    }
}

.title-hero {
    font-size: 4rem;
    font-weight: $font-black;
    text-transform: uppercase;
    line-height: 1;
    @media(min-width: $min-width){
        padding-top: 3rem;
        line-height: .6;
    }
    
}

.fw-light {
    font-weight: 300;
}

.title-box {
    background-color: $accent;
    color: $text-inverse;
    margin: 0 auto;
    padding: 2em;
    transform: translateY(30%);
    max-width: 90%;
    @media (min-width: 495px){
        .title-box {
            transform: translateY(50%);
        }
    }
    & + .bg-primary {
        padding-top: 8em;
        @media (min-width: 495px){
            padding-top: 8em;
        }
    }
    @media (min-width: 725px){
        max-width: 700px;
    }
}

.title-footer {
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;
    &::before, &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: $text-inverse;
        opacity: 0.25;
        margin: .75em 0;
    }

}
.text-no-break {
    white-space: nowrap;
}
.text-block {
    display: block;
}
.text-intro {
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-secondary {
    color: $secondary;
}
.text-accent {
    color: $accent;
}

.filter-accent {
    filter: invert(58%) sepia(83%) saturate(409%) hue-rotate(8deg) brightness(99%) contrast(99%);
}
.filter-white {
    filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(230deg) brightness(100%) contrast(102%);
}
